@use "sass:color";

// Neutral Colors
$white: #ffffff;
$smoke-white: #f5f5f5;
$very-light-gray: #e6e6e6;
$light-gray: rgb(231, 231, 231);
$dark-gray: rgb(42, 42, 42);

// Turquoise Variants
$brown: rgb(199, 169, 115);
$brown-darken: color.adjust($brown, $lightness: -2%);
$brown-lighten: color.adjust($brown, $lightness: 5%);

// Navy Variants
$navy: #2a2b47;
$navy-lighten: color.adjust($navy, $lightness: 65%);

// Other Colors
$green: #00a34b;
$red: rgb(158, 56, 61);

// Text Colors
$text: #444444;
$text-lighten: color.adjust($text, $lightness: 2%);

:root {
  // Neutral Colors
  --color-white: #ffffff;
  --color-smoke-white: #f5f5f5;
  --color-very-light-gray: #e6e6e6;
  --color-light-gray: #afafaf;
  --color-dark-gray: #383734;

  // Turquoise Variants
  --color-brown: #228cac;
  --color-brown-darken: #{$brown-darken};
  --color-brown-lighten: #{$brown-lighten};

  // Navy Variants
  --color-navy: #2a2b47;
  --color-navy-lighten: #{$navy-lighten};

  // Other Colors
  --color-green: #00a34b;
  --color-red: #7b151b;

  // Text Colors
  --color-text: #444444;
  --color-text-light: #999999;
  --color-text-lighten: #{$text-lighten};
}
